{
    margin: 0;
    padding: 0;
}
body{
    background: url("image/wall.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.overlay h1{

    font-size: 3em;
    overflow: break;
}
.overlay {
    width: 80%;
    min-width: 30%;
    margin: 3% auto;
    display: block;
    padding: 2%;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    text-align: center;
}
#content{
    text-align: center;
}
